body{
    background-color:rgb(240,240,245);
	/*background-color:rgb(40,40,40);
	color:rgb(230,230,230);*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	padding-top:60px
}

h1,h2,h3,h4,h5,h6,.dark-teal-highlight,.lightgray-highlight,.yellow-highlight,.white-highlight,.un-highlight{
	font-weight:bold;
	width:fit-content;
	margin-left:0;
	clear:both;
}

h5,h6,.dark-teal-highlight,.lightgray-highlight,.yellow-highlight,.white-highlight,.un-highlight{
	font-size:12px;
}

h1{
	font-size :20px;
	background-color:rgba(0,200,200,0.08);
}

h2{
	font-size:18px;
	background-color:rgba(255,120,100,0.1);
}

h3{
	font-size:16px;
	background-color:rgba(0,255,0,0.1);
}

h4{
	font-size:14px;
	background-color:rgba(255,25,255,0.1);
}

h5{
	background-color:cornsilk;
}

h6{
	background-color:antiquewhite;
}

.dark-teal-highlight{
	background-color:rgb(128,150,150);
}

.lightgray-highlight{
	background-color:rgb(170,170,170);
}

.yellow-highlight{
	background-color:rgba(150,150,20,0.2);
}

.white-highlight{
	background-color:white;
}

.un-highlight{
	background-color:rgba(220,220,255,0.5);
}

p{
margin-left:10px;
line-height:19px;
}

section{
	width:fit-content;
}

hr{
	border-top:1px solid black;
}

hr,hr.Between{
	margin:16px -4px 20px;
	clear:both;
}

hr.Between{
	border-top:1px dashed rgb(100,100,100);
}

table{
	border-collapse:collapse;
	border:1px solid black;
}
	
td.left,td.center,th,td.two-column-long{
	border-bottom:1px solid black;
}

td.center{
	text-align:center;
}

td.two-column,td.two-column-long{
	padding-right:40px;
}

.inline-block,.inline{
	display:inline-block;
}

div>a{
	width:fit-content;
	display:block;
}

a{
	margin:10px 0;
	text-decoration-color:gray;
}

a:hover,a:focus{
	font-weight:bold;
}

:focus-visible{
	border:2px solid black;	
}

a:visited{
	color:rgb(0,0,238);
}

:target{
	background-clip:content-box;
	background-color:rgb(161, 92, 226);
	padding-top:64px;
	margin-top:-64px;
	overflow:hidden;
}

dd{
	margin:10px 40px 20px;
}

dt{
	font-weight:600;
}

li{
	font-size:14px;
}

li.end{
	margin-bottom:10px;
}

li.less-margin{
	margin-left:-15px;
}

li>ol{
	margin-top:-15px;
	margin-bottom:-5px;
	padding:10px;
}

span.vector{
	border-top:1px solid black;
	vertical-align:middle;
	font-size:13px;
}

span.hover{
	opacity:0.05;
}

span.hover:hover,span.hover:focus{
	opacity:1;
	cursor:default;
}

.define{
	position:relative;
	Cursor:help;
}

span.define>img.hang{
	top:100%;
	opacity:0;
	position:absolute;
	left:50%;
	pointer-events:none;
	transition:opacity 0.2s linear 0.5s;
	z-index:100;
}

.define>.definition,.define>.definition-top{
	width:150px;
	margin-left:-75px;
	transition:opacity 0.2s linear 0.5s;
}

span.define>span.header-tooltip,span.define>img.hang{
	transform:translateX(-50%);
}

span.define>span.header-tooltip{
	transition:opacity 0.2s linear 0;
}

.define>.definition,.define>.definition-top,span.define>span.header-tooltip{
	font-weight:400;
	font-size:14px;
	background-color:rgb(40, 40, 40);
	color:white;
	text-align:center;
	border-radius:10px;
	padding:5px 5px;
	position:absolute;
	z-index:100;
	left:50%;
	pointer-events:none;
	opacity:0;
}

.define>.definition {
	bottom:100%;
}

.define>.definition-top,span.define>span.header-tooltip{
	top:100%
}

.define:focus>.definition,.define:focus>.definition-top,span.define:focus>img.hang,header a:focus span.define>span.header-tooltip,.define:hover>.definition,.define:hover>.definition-top,span.define:active>img.hang,span.define:hover>span.header-tooltip{
  opacity:1;
}

figure{
	width:fit-content;
}

figcaption{
	text-align:center;
	font-style:italic;
}

figure.lots-of-pics>img{
	width:100px;
	transition:width 0.3s;
}

figure.lots-of-pics>img:hover,figure.lots-of-pics>img:focus{
	width:500px;
}

figure.lots-of-pics>img.vertebrata:hover,figure.lots-of-pics>img.vertebrata:focus{
	width:700px;
}

p.reaction{
	margin:1px 8px 20px 8px;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	align-items:center;
	justify-items:center;
	width:fit-content;
	line-height:14px;
}

math{
	font-family:Arial, Helvetica, sans-serif;
	margin:10px 0 10px 8px;
	margin-left:8px;
	display:block;
}

mrow.row-gap{
	margin:3px 0;
}

mrow.Row-gap{
	margin:6px;
}

math mfrac{
	font-size:20px;
}

math mfrac.normal{
	font-size:14px;
}

math munderover{
	margin:0 15px;
}

span.reagent{
	grid-column:1 / 4;
	font-size:10px;
}

span.reactant{
	position:relative;
}

span.reactant-info,span.reactant-info-compound{
	position:absolute;
	left:50%;
	transform:translateX(-50%);
}

span.reactant-info{
	top:20px;
}

span.reactant-info-compound{
	top:24px;
}

span.wonky-arrow{
	align-self:stretch;
}

hr.info{
	margin-top:40px;
}

div.index-navigation{
	display:grid;
	grid-template-columns:380px 380px;
	justify-content:center;
	justify-items:center;
	align-content:center;
	gap:5px;
	height:100%;
}

div.index-navigation>div>a{
	margin:0;
}

div.index-navigation>div>a>button{
	height:100px;
	width:380px;
	background-color:inherit;
	border:1px solid black;
	font-weight:bold;
}

div.index-navigation>div.other{
	grid-column:1 / 3;
}

.vector{
	text-decoration:overline;
}

nav.Bio-navi,nav.Chem-navi{
	display:grid;
	grid-template-columns:200px 200px 200px 200px;
	width:fit-content;
	column-gap:10px;
}

@media(max-width:400px){
	nav.Bio-navi,nav.Chem-navi{
	grid-template-columns:200px;
	}
}

@media(max-width:600px) and (min-width:401px){
	nav.Bio-navi,nav.Chem-navi{
		grid-template-columns:200px 200px;
	}
}

@media(max-width:800px) and (min-width:601px){
	nav.Bio-navi,nav.Chem-navi{
		grid-template-columns:200px 200px 200px;
	}
}

@media(min-width:801px) and (max-width:1000px){
	nav.Bio-navi,nav.Chem-navi{
		grid-template-columns:200px 200px 200px 200px;
	}
}

@media(min-width:1001px){
	nav.Bio-navi,nav.Chem-navi{
		grid-template-columns:200px 200px 200px 200px 200px;
	}
}

nav.Bio-navi,a{
	margin:10px 0 0 0;
}

nav.Chem-navi{
	margin:0 0 0 20px;
}

nav.Chem-navi>a{
	margin:0 0 10px 0;
}

header{
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:60px;
	background-color:inherit;
	box-shadow:0 0 16px lightgray;
	display:flex;
	justify-content:space-between;
	padding:0 20px;
	align-items:center;
	align-content:center;
	justify-items:center;
	z-index:1000;
}

header>div>a>span.define>img,header>div>div>a>span.define>img{
	height:20px;
}

header>div>search>form>input{
	width:500px;
	border:none;
	border-radius:20px;
}

header>div.subs{
	display:flex;
	gap:10px;
}

div.first-topic{
	justify-content:right;
}

div.middle-topic,footer>nav{
	display:flex;
	justify-content:space-between;
	width:100%;
}

div.first-topic,div.middle-topic,footer{
	margin-top:-10px;
	margin-bottom:20px;
}

img{
	max-width:100%;
}

footer>nav>address{
	margin:10px 0;
}

address{
	margin:10px 0 0 0;
}

img.border{
	border:1px solid black;
}

td.border-bottom{
	border-bottom:1px solid black;
}

img.height{
	height:450px;
}

img.long-height{
	height:700px;
}

img.width{
	width:450px;
}

img.dog-height{
	height:500px;
}

img.wide-width{
	width:800px;
}

img.long-width{
	width:600px;
}

img.short-height{
	height:300px;
}

img.claustrophobia{
	padding:5px 8px;
}

div.punnet{
	display:grid;
	grid-template-columns:100px 350px 320px;
	border:1px solid black;
	width:fit-content;
}

div.punnet-empty{
	margin-bottom:0px;
	border-bottom:1px solid black;
	border-right:1px solid black;
}

div.punnet-row{
	margin-bottom:0px;
	border-bottom:1px solid black;
}

div.punnet-row>span.define>span.definition{
	margin-left:-40px;
	width:fit-content
}

div.punnet-column{
	border-right:1px solid black;
	margin-left:5px;
}

div.punnet-column>span.define>span.definition{
	margin-left:-25px;
	width:fit-content
}

div.punnet>div>p{
	margin-left:0;
	margin-top:0;
}

ul.less-margin{
	padding-left:30px;
	margin-top:-6px;
}

section.Coin-flip>button{
	background-color:lightskyblue;
	padding:5px 8px;
	font-size:20px;
	border:1px solid black;
}

aside{
	float:right;
	width:160px;
	font-size:12px;
	font-style:italic;
	padding:5px 5px 5px 15px;
}

section.aside{
	position:relative;
}

section.aside>aside{
	position:absolute;
	right:0%;
	top:0%;
	width:200px;
	transform:translateX(110%) translateY(70%);
}

aside.math{
	margin-top:-50px;
	margin-right:-200px
}

aside.mather{
	margin:-40px -200px 0 0;
}

aside.large{
	width:25%;
}

aside,aside.left{
	background-color:lightgray;
}

.font-20{
	font-size:20px;
}

.font-26{
	font-size:26px;
}

aside.chem{
 	min-width:260px;
	margin-left:30px;
}

aside.left{
	float:left;
}

.flex-cyclic-chem{
	width:45%;
}

.flex-cyclic-chem,.flex,.flex-vertical{
	display:flex;
	align-items:center;
	justify-content:space-between;
}

.flex{
	width:80%;
}

.flex-vertical{
	flex-direction:column;
	width:100%;
}

section.cyclic-chem{
	width:60%;
}

aside.Comparative-anatomy{
	position:absolute;
	left:260px;
	top:80px;
	width:200px;
}

li{
	width:fit-content;
}

p.navi-text{
	font-weight:bold;
	margin:0 0;
}