div.loci>div:nth-child(4n+1){
  background-color:lightblue;
}
div.loci>div:nth-child(4n+4){
  background-color: lightpink;
  margin: 5px 0;
}
div.loci>div:nth-child(4n+2){
  background-color: lightblue;
}
div.loci>div:nth-child(4n+3){
  background-color: lightpink;
  margin: 5px 0;
}

div.a{
background-color: lightskyblue;
}
div.b{
background-color: lightblue;
}
div.c{
background-color: lightgray;
}
div.d{
background-color: lightpink;
}
div.e{
background-color: lightcoral;
}